@import './null.scss';
@import './typography.scss';

:root {
  --bg_0: #0B0B0B;
  --bg_100: #191919;
  --bg_200: #262626;

  --primary_0: #3EA2FF;
  --primary_100: rgba(62, 162, 255, 0.28);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  background: var(--bg_200);
  color: white;
  text-transform: uppercase;
  &:hover {
    background: var(--primary_0);
  }
}
input {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--bg_200);
  border-radius: 4px;
  font-size: 12px;
  background: var(--bg_0);
  color: white;
  text-transform: uppercase;
  &:hover, &:focus {
    border-color: var(--primary_0);
  }
}